.tabs
  display: block
  width: 100%
  margin: 2rem 2rem 1rem auto

  .tabButton
    margin: 1px
    float: right

    &:first-child
      margin-right: 3rem

.search-result
  padding: 30px

  .header-summary
    padding: 20px 0

  .search-result-row
    padding-top: 20px
    .nav
      text-decoration: none
      color: #1b2a1e
      font-size: larger
      font-weight: 500
      padding: 10px 0
      &:hover
        text-decoration: underline
    .attr
      padding-left: 5px
      font-size: small

    .summary
      font-size: smaller
      p
        padding: 0
        line-height: 1.2
        max-height: 20px
        overflow: hidden
        &.info
          line-height: 1.5
