.root
  display: flex

  .toolbar
    padding-right: 24px // keep right padding when drawer closed

  .toolbar-icon
    display: flex
    align-items: center
    justify-content: flex-end
    padding: 0 8px
    background: url("/assets/geelink.png") no-repeat center
    background-size: 160px
    width: 180px
    height: 69px

  .menu
    .menu-list-item
      padding-right: 0

    .menu-icon
      color: #92999f

    .nav
      color: #92999f
      width: 82px
      text-decoration: none

  .title
    flex-grow: 1

  .divider
    background-color: #3c474c

  .drawer-paper
    position: relative
    white-space: nowrap
    width: 180px
    transition: width 2s ease
    background-color: #263238

  .drawer-paper-close
    overflow-x: hidden
    transition: width 2s ease
    width: 84px

  .content
    flex-grow: 1
    padding: 30px
    height: 100vh
    overflow: auto
    .main
      min-width: 843px

      .chart-container
        display: flex
        .map
          flex: 1
          display: inline-block
          width: 48%
          margin: 1%
          height: 400px
          border: 2px solid #1194e9
          border-radius: 3px

      .ranking-container

      .stat-box-container
        display: block
        height: 180px
        width: 760px
        margin: 20px auto

        .stat-box
          display: inline-block
          float: left
          height: 120px
          width: 150px
          border: 1px solid #0095e9
          border-radius: 5px
          margin: 20px

          .value
            position: relative
            top: 31px
            font-size: 35px
            font-weight: 600
            text-align: center
            color: #666
          .desc
            position: relative
            top: 44px
            text-align: center

    .search-box
      padding: 2px 4px
      display: block
      align-items: center
      width: 400px
      border: solid #0095e9 2px
      margin: 0 auto

      .input
        margin-left: 8px
        flex: 1

      .icon-button
        padding: 8px
        background-color: #0095e9
        display: block
        float: right
        border-radius: 0 4px 4px 0
        position: relative
        top: -4px
        right: -4px

      .divider
        width: 1px
        height: 28px
        margin: 4px