.root
  display: flex

  .toolbar
    padding-right: 24px
  // keep right padding when drawer closed

  .toolbar-icon
    display: flex
    align-items: center
    justify-content: flex-end
    padding: 0 8px
    background: url("/assets/geelink.png") no-repeat center
    background-size: 160px
    width: 180px
    height: 69px

  .menu
    .menu-list-item
      padding-right: 0

    .menu-icon
      color: #92999f

    .nav
      color: #92999f
      width: 82px
      text-decoration: none

  .title
    flex-grow: 1

  .divider
    background-color: #3c474c

  .drawer-paper
    position: relative
    white-space: nowrap
    width: 180px
    transition: width 2s ease
    background-color: #263238

  .drawer-paper-close
    overflow-x: hidden
    transition: width 2s ease
    width: 84px

  .content
    flex-grow: 1
    padding: 30px
    height: 100vh
    overflow: auto

    .box-header
      padding: 10px

      .box-header-block
        display: inline-block
        width: 12px
        height: 20px
        background: linear-gradient(180deg, rgba(51, 102, 204, 1) 0%, rgba(51, 102, 204, 1) 0%, rgba(0, 153, 153, 1) 100%, rgba(0, 153, 153, 1) 100%)
      .title
        display: inline-block
        vertical-align: top
        padding: 2px 0 0 10px
        color: #cc6633
      .tooltip
        display: inline-block
      .select
        display: inline-block
        float: right

    .ranking
      flex: 1
      border: 2px solid #0095e9
      padding: 10px
      height: 100%
      .ranking-header-block
        display: inline-block
        width: 12px
        height: 20px
        background: linear-gradient(180deg, rgba(51, 102, 204, 1) 0%, rgba(51, 102, 204, 1) 0%, rgba(0, 153, 153, 1) 100%, rgba(0, 153, 153, 1) 100%)
      .title
        display: inline-block
        vertical-align: top
        padding: 2px 0 0 10px
        color: #cc6633
      .tooltip
        display: inline-block
      .select
        display: inline-block
        float: right

      .headers
        display: flex
        border-bottom: 1px solid #01989a
        border-top: 1px solid #3267cb
        margin: 6px 0
        padding: 4px 0
        color: #3366cc

        .header-0
          flex: 1
        .header-1
          flex: 4
          text-align: left
          padding-left: 20px
        .header-2
          flex: 3
          text-align: right


      .ranking-items
        display: block

        .ranking-item
          display: flex
          padding: 5px

          .ranking-col-0
            color: #069
            flex: 1
          .ranking-col-1
            flex: 4
            text-align: left
            padding-left: 10px
            a
              color: grey
          .ranking-col-2
            flex: 2
            text-align: right
            color: grey


    .main
      min-width: 843px

      .chart-container
        display: flex

        .map
          flex: 1
          display: inline-block
          width: 48%
          margin: 1%
          height: 652px
          border: 2px solid #1194e9
          border-radius: 3px

        .chart-header
          .chart-header-block
            display: inline-block
            width: 12px
            height: 20px
            margin: 12px
            background: linear-gradient(180deg, rgba(51, 102, 204, 1) 0%, rgba(51, 102, 204, 1) 0%, rgba(0, 153, 153, 1) 100%, rgba(0, 153, 153, 1) 100%)

          .title
            display: inline-block
            vertical-align: top
            padding-top: 13px

          .help
            display: inline-block

            .icon

            .content
              display: none

            &.active
              border: 1px solid grey
              position: absolute
              z-index: 100
              top: 250px
              left: 260px
              background: white
              .content
                display: block
                width: 220px
                height: 200px


      .ranking-container
        display: flex
        .ranking
          margin: 10px

      .stat-box-container
        display: block
        height: 180px
        width: 760px
        margin: 20px auto

        .stat-box
          display: inline-block
          float: left
          height: 120px
          width: 150px
          border: 1px solid #0095e9
          border-radius: 5px
          margin: 20px

          .value
            position: relative
            top: 31px
            font-size: 35px
            font-weight: 600
            text-align: center
            color: #666

          .desc
            position: relative
            top: 44px
            text-align: center


    .search-box
      padding: 2px 4px
      display: block
      align-items: center
      width: 400px
      border: solid #0095e9 2px
      margin: 0 auto

      .input
        margin-left: 8px
        flex: 1

      .icon-button
        padding: 8px
        background-color: #0095e9
        display: block
        float: right
        border-radius: 0 4px 4px 0
        position: relative
        top: -4px
        right: -4px

      .divider
        width: 1px
        height: 28px
        margin: 4px


    .data-stats
      display: block
      color: #cc6633

      .data-stats-row-1
        display: flex
        width: 100%
        height: 405px
        margin: 20px 0

        .data-stats-col-1
          flex: 2.5
          height: 100%
          margin: 0 10px 0 0

          .box
            border: 2px solid #1194e9
            border-radius: 3px
            width: 100%
            height: 30%

            .value
              position: relative
              top: 18px
              font-size: 30px
              font-weight: 600
              text-align: center
              color: #666

            .desc
              position: relative
              top: 28px
              text-align: center

            &.box-1
              margin-top: 0

            &.box-2
              margin: 20px 0 0 0

            &.box-3
              margin: 20px 0 0 0

        .data-stats-col-2
          flex: 5
          border: 2px solid #1194e9
          border-radius: 3px
          height: 100%
          margin: 0 10px
        .data-stats-col-3
          flex: 3
          border: 2px solid #1194e9
          border-radius: 3px
          height: 100%
          margin: 0 0 0 10px
          .title
            padding: 6px
            font-weight: bold

          .stats
            display: flex
            flex-direction: column
            height: 88%

            .stat
              flex: 1
              font-weight: normal
              font-size: smaller
              border: 1px solid #1194e9
              border-radius: 2px
              margin: 5%
              width: 90%
              .value
                text-align: center
                padding-top: 6px


      .data-stats-row-2
        display: flex
        .data-stats-col-1
          flex: 5
          border: 2px solid #1194e9
          border-radius: 3px
          height: 500px
          margin: 10px 20px 10px 0
        .data-stats-col-2
          flex: 3
          height: 500px
          margin: 10px 0