.data-details
  display: block
  height: 100vh
  .row-1
    height: 40%
    display: flex
    padding: 0.5rem 1rem

    .data-info
      flex: 3
      border: 1px solid #336699
      margin-right: 0.5rem
    .data-category
      flex: 1
      border: 1px solid #0a8fa3
      margin-left: 0.5rem

  .row-2
    height: 60%
    display: flex
    padding: 0.5rem 1rem
    .trend
      flex: 2
      border: 1px solid #336699
      margin-right: 0.5rem
    .related-user
      margin-right: 0.5rem
      border: 1px solid #336699
      margin-left: 0.5rem
      flex: 1
    .related-keyword
      margin-left: 0.5rem
      border: 1px solid #336699
      flex: 1
