.keyword-details
  width: 100%

  .title
    padding: 30px 0 0 30px

  .row
    .ranking-container
      padding-left: 30px

  .flex-2

    .stat-box-container
      height: 100px

      .stat-box
        margin: 30px 15px 20px
        min-height: 80px

    .search-conversion
      border: 2px solid #0095e9
      border-radius: 3px
      margin: 10px 25px

    .keyword-search-trend
      border: 2px solid #0095e9
      border-radius: 3px
      margin: 30px 25px

  .flex-1
    margin: 30px 40px 20px -5px

    @import "components/categorized-stats"
